project/fFormations/fFormations/obj/Debug/fFormations_MarkupCompile.i.lref
project/fFormations/fFormations/obj/Debug/fFormations_MarkupCompile.i.cache
project/fFormations/fFormations/obj/Debug/fFormations_MarkupCompile.lref
project/fFormations/fFormations/obj/Debug/fFormations.csproj.FileListAbsolute.txt